body {
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

/*
==========
overwrite of bootstrap
==========
*/
.navbar-final-2 {
  background-color: transparent;
  border: none; }

.navbar-final {
  margin-top: 10px;
  margin-bottom: 10px; }
  .navbar-final .navbar-brand {
    height: 0;
    padding: 0;
    margin-left: 20px; }
  .navbar-final .final-container {
    width: 90%;
    background-color: #f6efef;
    border-radius: 30px;
    margin: 0 auto; }
  .navbar-final .container-fluid .navbar-brand {
    padding-left: 40px; }
  .navbar-final .navbar-collapse li.active {
    background-color: #e6b706;
    color: black; }
  .navbar-final .navbar-nav li a:hover,
  .navbar-final .navbar-nav li a:focus,
  .navbar-final .navbar-nav li a:active {
    background-color: #ffcd0f; }
  .navbar-final .navbar-collapse li a {
    color: #333333;
    font-weight: 700; }

/*
==============
intro section
==============
*/
.intro .bg {
  position: relative; }
.intro .overlay {
  position: absolute;
  top: 0;
  max-width: 100%; }
.intro img {
  max-width: 100%;
  margin: 0 auto; }
.intro .intro-bg {
  width: 1500px; }
.intro .img-circle {
  position: absolute;
  top: 28%;
  z-index: 22;
  left: 3%; }
.intro .img-circle img {
  max-width: 100%;
  transition: all 1.5s;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s; }
.intro .img-circle img:hover {
  transform: rotate(350deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg); }
.intro .name-logo {
  position: absolute;
  z-index: 25;
  margin-top: 13%; }
.intro .name-logo img {
  max-width: 100%; }
.intro .name-logo .motto {
  display: block;
  margin-top: 40px; }
.intro .intro-info {
  position: absolute;
  margin-top: 13%;
  z-index: 22;
  right: 3%;
  list-style: none;
  float: right; }
.intro .intro-info li {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px; }
.intro .intro-info li i {
  padding: 10px;
  border: 1px solid black;
  border-radius: 20%; }
.intro .intro-info li i.fa-phone {
  margin-left: 30%; }
.intro .intro-info li i.fa-facebook {
  margin-left: 27%; }
.intro .intro-info li i.fa-desktop {
  margin-left: 7%; }

/*
==================
Our Products
==================
*/
.our-products {
  margin-top: 28%;
  padding-bottom: 120px;
  background-color: #cecbc6; }
  .our-products:before {
    width: 50%;
    height: 10%;
    background-color: #cecbc6;
    position: absolute;
    top: 245%;
    content: "";
    left: 0;
    transform: skewY(5deg); }
  .our-products:after {
    width: 50.3%;
    height: 10%;
    background-color: #cecbc6;
    position: absolute;
    top: 245%;
    content: "";
    right: 0;
    transform: skewY(-5deg); }
  .our-products .product-intro {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    background: url("../img/product-top-bg.png") top center no-repeat #e6b706;
    background-size: contain;
    max-width: 100%; }
  .our-products .product-intro:before {
    width: 50%;
    height: 60%;
    background-color: #e6b706;
    position: absolute;
    top: 72%;
    content: "";
    left: 0;
    transform: skewY(4deg); }
  .our-products .product-intro:after {
    width: 50.3%;
    height: 60%;
    background-color: #e6b706;
    position: absolute;
    top: 72%;
    content: "";
    right: 0;
    transform: skewY(-4deg); }
  .our-products h1.product-heading {
    font-size: 30px;
    text-transform: capitalize;
    z-index: 22;
    color: #f4f4f4;
    text-shadow: 3px 3px black; }
  .our-products .slider-product {
    padding-top: 100px; }

/*# sourceMappingURL=style.css.map */
